.header-root {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.space {
  justify-content: space-between;
}

.page-title h1 {
  font-weight: bold;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 4px;
  font-weight: 600;
}

.user-profile {
  cursor: pointer;
  padding: 0 0 5px 0;
}

.user-data {
  align-items: center;
}

.user-data h3 {
  margin-left: 10px;
}

.search-mobile {
  display: none;
}

.search-input:-webkit-autofill {
  background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  /* -webkit-text-fill-color: #ffffff; */
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }

  .search-mobile {
    display: block;
  }
}
